<header>
  <div class="logo-container">
    <img src="assets/img/play.png" />
    <span>video course</span>
  </div>

  <div class="user-container" *ngIf="isLogged">
    <div class="login">
      <a>
        <img class="user-icon" src="assets/img/login.png" />
        <span>User login</span>
      </a>
    </div>

    <div class="logout">
      <img class="logout-icon" src="assets/img/logout.png" />
      <a
        (click)="logout()"
        routerLink="/login"
        routerLinkActive="active">
        Log off
      </a>
    </div>
  </div>
</header>
