@import '../../mixins.scss';
@import '../../variables.scss';

:host {
  background-color: $app-bg-black;
  color: #ffffff;
  flex: 0;

  header {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 0;
    justify-content: space-between;

    .logo-container {
      display: flex;
      align-items: center;

      img {
        height: 46px;
        margin-right: 20px;
      }

      span {
        text-transform: uppercase;
        height: fit-content;
      }
    }

    .user-container {
      display: flex;
      align-items: center;
      font-size: 14px;

      a {
        text-decoration: none;
        color: $app-white;
      }

      .login,
      .logout {
        margin: 0 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }
  }

  .user-icon,
  .logout-icon {
    height: 14px;
    margin-right: 6px;
  }


  @include content-padding;
}
