<section class="vc-add-course">
  <mat-card class="vc-add-course__card">
    <mat-card-header>
      <mat-card-title>Add Course</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="row">
        <mat-form-field
          appearance="outline"
          class="full-size"
          color="primary">
          <mat-label>Title</mat-label>
          <input matInput />
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field
          appearance="outline"
          class="full-size"
          color="primary">
          <mat-label>Description</mat-label>
          <textarea matInput rows="8"></textarea>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline" color="primary">
          <mat-label>Date</mat-label>
          <input matInput />
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline" color="primary">
          <mat-label>Duration</mat-label>
          <input matInput />
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field
          appearance="outline"
          class="full-size"
          color="primary">
          <mat-label>Authors</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
</section>
