<section class="vc-add-course">
  <mat-card class="vc-add-course__card">
    <mat-card-header>
      <mat-card-title>New Course</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="row">
        <span class="required">*required</span>
        <mat-form-field
          appearance="outline"
          class="full-size"
          color="primary">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Add title" [(ngModel)]="course.title"/>
        </mat-form-field>
      </div>

      <div class="row">
        <span class="required">*required</span>
        <mat-form-field
          appearance="outline"
          class="full-size"
          color="primary">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            rows="8"
            placeholder="Add description" [(ngModel)]="course.description">
          </textarea>
        </mat-form-field>
      </div>

      <div class="row input-sm">
        <span class="required">*required</span>
        <app-duration-input></app-duration-input>
      </div>

      <div class="row input-sm">
        <span class="required">*required</span>
        <app-date-input></app-date-input>
      </div>

      <div class="row input-md">
        <span class="required">*required</span>
        <app-authors-input></app-authors-input>
      </div>

      <div class="action-row">
        <button class="cancel-btn" mat-flat-button>Cancel</button>
        <button
          class="save-btn"
          color="primary"
          mat-flat-button>
          Save
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</section>
