@import '../../mixins.scss';
@import '../../variables.scss';

:host {
  display: flex;
  height: 50px;
  background-color: $app-white;

  section {
    display: flex;
    align-items: center;

    .breadcrumb {

      &__link {
        color: #000000;
        text-decoration: none;
        font-weight: bold;
      }
    }
  }

  @include content-padding;
}

