@import '../../mixins.scss';
@import '../../variables.scss';

:host {
  display: flex;
  background-color: $app-white;

  section {
    display: flex;
    align-items: center;

    .breadcrumb {

      &__link {
        color: #000000;
        text-decoration: none;
        font-weight: bold;
      }
    }
  }


  @include content-padding;
}

:host ::ng-deep {

  .mat-bread-crumb {
    background-color: $app-white!important;

    a {
      color: #000000;
      text-decoration: none;
      font-weight: bold;
    }
  }
}

