@import '../../mixins.scss';
@import '../../variables.scss';

:host {
  background-color: $app-bg-gray;
  display: flex;
  flex: 1;
  flex-direction: row;

  section {
    margin-bottom: 30px;
    width: 100%;
  }

  button {
    border: none;
    border-radius: 4px;
  }

  .row {
    display: flex;
    width: 100%;
  }

  .course {
    &__search {
      align-items: center;
      height: 46px;
      justify-content: flex-start;
      margin-top: 20px;
    }

    &__add {
      justify-content: flex-end;

      button {
        align-items: center;
        background-color: $app-blue;
        color: #ffffff;
        display: flex;
        height: 36px;
        justify-content: center;
        width: 138px;
      }

      .material-icons {
        margin-right: 8px;
      }
    }

    &__list {
      app-course-list {
        width: 100%;
      }
    }
  }

  .search {

    &__button {
      background-color: $app-green;
      color: #ffffff;
      height: 48px;
      width: 100px;
    }

  }



  @include content-padding;
}

:host ::ng-deep {

  mat-form-field {
    margin-right: 14px;
  }

  .mat-form-field-wrapper {
    padding: 0;
    background-color: #ffffff;
    color: #cccccc;
    height: 48px;
    font-size: 14px;
    width: 360px;
  }
}
