@import '../../mixins.scss';
@import '../../variables.scss';

:host {

  .vc-course-list {
    display: flex;
    flex: 1;
    flex-direction: row;

    .message-card {
      margin-top: 20px;
      width: 100%;
      text-align: center;
    }

    .course-list {
      width: 100%;
    }

  }
}

