$app-bg-black: #414453;
$app-bg-gray: #f2f3f7;
$app-white: #ffffff;
$app-blue: #30b6db;
$app-green: #9bc837;
$app-bg-pale: #FDFEF6;

$app-soft-blue: #577ce6;
$app-dark-sky-blue: #30b6dd;
$app-steel: #868996;
$app-slate-grey: #525462;
$app-dark: #2c2f3c;
$app-black: #000000;
$app-pear: #e2f86a;
$app-seafoam-blue: #76cdd8;
$app-charcoal-grey: #414452;
$app-cloudy-blue: #b9bdce;
$app-silver: #c0c3ce;
$app-pale-grey: #d9dbe3;
$app-pale-grey-two: #f2f3f7;
$app-battleship-grey: #6c7283;
$app-soft-blue-two: #5681ee;
$app-cool-grey: #a8a9b4;
